# 75 Pandas Exercises: Exercises 1 to 25

First set of of 25 exercises from [here](https://www.machinelearningplus.com/python/101-pandas-exercises-python/). Each exercise includes the question, the input and the solution's code. Sometimes, alternative solutions and comments to better explain solutions/Pandas functionality are offered.

Requirements: 
+ pandas
+ numpy

Happy Pandasing! üêº

## Imports

In [8]:
import pandas as pd
import numpy as np # required for some questions

---

## Exercises

### üêº Exercise 1

__How to import pandas and check the version?__

Pretty easy, one:

In [7]:
print("Pandas version is {}".format(pd.__version__))

Pandas version is 0.23.4

### üêº Exercise 2

__How to create a series from a list, numpy array and dict?__

Input

In [9]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

Pandas and numpy interact very transparently and directly, so `Pd.Series` (the nuclear elements of a `Pd.DataFrame`) can be easily created...

In [12]:
list_series = pd.Series(mylist)
arr_series = pd.Series(myarr)
dict_series = pd.Series(mydict)

Visualizing. `pd.Series.head()` can be called that way or the number of rows to be shown (plus column names, if existing) can be specified by adding that number as an argument.

In [15]:
list_series.head(3)

0    a
1    b
2    c
dtype: object

In [16]:
arr_series.head(3)

0    0
1    1
2    2
dtype: int64

In [18]:
dict_series.head()

a    0
b    1
c    2
e    3
d    4
dtype: int64

### üêº Exercise 3

**How to convert the index of a series into a column of a dataframe?**
Convert the series `ser` into a dataframe with its index as another column on the dataframe. 

_By default, all dataframes/series have an `index` column, through which each row is assigned an index - a sort of ID used to call it (however, not a unique ID, as the index column can have duplicates)._

Input

In [29]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
ser.index

Index(['a', 'b', 'c', 'e', 'd', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
       'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
      dtype='object')

`ser` has the letters as its index. Processing to remove that...

In [25]:
df = ser.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

Pandas DataFrames must always have an index. By default, that index is a numeric row counter. By using `reset_index()`, the index of the `pd.Series` is forgotten and, to avoid data loss, its converted into a column of the `pd.DataFrame`. Shamlessly stolen from the suggested solution.

### üêº Exercise 4

**Combine ser1 and ser2 to form a dataframe.**

Input

In [32]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

Joining by manually accessing the raw data of each series

In [35]:
df = pd.DataFrame(data=[ser1.values, ser2.values]).T # otherwise, we would get one big horizontal array
df.head(5)

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

There are more pandaonic (coined it!) ways to create a `DataFrame`, however. Through a `dict` where the keys are taken as column names.

In [40]:
df_pandaonic = pd.DataFrame({'ser1': ser1.values, 'ser2': ser2.values}) # The .values is optional, pd.Series could be directly passed
df_pandaonic.head(5)

  ser1  ser2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

There's an even more elegant way to accomplish this, which does not envolve direct instantiation of a new `DataFrame`. Through a `Series` concatenation:

In [47]:
df_concat = pd.concat(objs=[ser1, ser2], axis=1) # concatenate along the horizontal axis, side-by-side
df_concat.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

### üêº Exercise 5

**Give a name to the `Series` ser calling it ‚Äòalphabets‚Äô.**

Input

In [49]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

There's probably a built-in `pd.Series` attribute or method to do this, I guess.

In [57]:
ser.rename(('alphabets'), inplace=True) # using inplace=True to not return a new pd.Series, but rather do it on the original ser Series

'alphabets'

_Et voil√†_, just as theorized. Alternatively, one could directly access and modify `ser.name`.

### üêº Exercise 6

### üêº Exercise 7

### üêº Exercise 8

### üêº Exercise 9

### üêº Exercise 10